%h1 Hi there!

%p
  I've got a new mobile phone including a whole new number. I had my old number
  for quite a long time – <b>ten years</b>!

  To make that whole transition process less of an SMS sending nightmare, I
  quickly hacked together something for you.

%p
  To get my new number, append my old number to the end of the URL like this:

%code https://koehr.in:2342/+491234567890

%p
  You can also insert my old number here and press enter:

%form( action="/" method="POST" )
  %code
    https://koehr.in:2342/
    %input( type="tel" name="number" )

%p
  And of course, you can always just ask me ;)

